html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    color: white;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    line-height: 1.5;
    text-align: center;
}
#title-style {
    font-size: 25px;
    padding: 0;
    margin: 0;
    color: #333;
    font-weight: bold;
}
.footer {
    font-size: 15px;
    color: #333;
    font-weight: bold;
}
.bg-image { 
    background: url(../img/bg-home-signup.jpeg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.bg-student { 
    background: url(../img/bg-student-home.jpeg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.bg-instr { 
    background: url(../img/bg-instr.jpeg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
header {
    background-image: linear-gradient(white, #5680E9);
}
footer {
    background-image: linear-gradient(#5680E9, white);
    padding: 20px;
    color: white;
    
}
.section-wrap2 {
    background: rgba(51, 51, 51, 0.9);
    margin: auto;
    width: 75%;
    padding: 40px 0;
    border-radius: 10px;
}
.section-wrap {
    background: rgba(51, 51, 51, 0.9);
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 75px;
    width: 75%;
    padding: 40px 0;
    border-radius: 10px;
}
#instr-border-home {
    border-style: solid;
}
#background {
    background-color: #5680E9;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    list-style: none;
    text-align: center;
}
li {
    background-color: #5680E9;
    list-style: none;
    text-align: left;
    color: white;
    margin: 10px 0;
}
#instr-courses {
    text-align: center;
    background-color: #5680E9;
    list-style: none;
    color: white;
    padding: 100px;
}
.content-wrap {
    width: 75%;
    margin: 0 auto;
    padding: 40px 0;
}
#courses-bg {
    background-color: #344E8E;
    /* padding-top: 10px;
    padding-bottom: 10px; */
}
#search-bar input[type=text]{
    float: right;
    border: none;
    margin: 0;
    overflow: hidden;
    margin-bottom: 0px;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 16px;
    padding: 6px;
}
nav ul {
    height: 200px;
    width: 100%;
    overflow-y: scroll;
}
.instr-courses {
    text-align: left;
    padding-left: 20px;
    margin-top: 0px;
}
.course-collapse {
    background-color: #5680E9;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}
.active, .course-collapse:hover {
    background-color: #333;
}
.btn {
    background: #5680E9;
    color: white;
    text-decoration: none;
    padding: 8px;
    margin-top: 3px;
    border-radius: 4px;
    display: inline-block;
}
.btn:hover {
    background: #344E8E;
}
input[type=text] {
    box-sizing: border-box;
    width: 50%;
    padding: 10px 20px;
    margin: 8px 0;
}
#create-left {
    text-align: left;
}

/* .navbar {
  background-color: #333;
  overflow: hidden;
}
.navbar a {
    float: left;
    color: #f2f2f2;
    padding: 14px 16px;
    text-align: center;
    font-size: 17px;
    text-decoration: none;
}
.navbar a:hover {
    background-color: white;
    color: black;
}
.navbar a.active {
    background-color: #5680E9;
    color: white;
} */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
    /*height: 50px;*/
}
.navbar-links {
    margin: 0;
    padding: 0;
    display: flex;
}
.navbar-links {
    list-style: none;
}
.navbar-links a {
    text-decoration: none;
    color: #f2f2f2;
    padding: 1rem;
    display: block;
}
.navbar-links a:hover {
    background-color: white;
    color: black;
}
.navbar-links a.active {
    background-color: #5680E9;
    color: white;
}
.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}
.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: #333;
    border-radius: 10px;
}
@media (max-width: 500px) {
    .toggle-button {
        display: flex;
    }
    .navbar-links {
        display: none;
        width: 100%;
    }
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }
    .navbar-links {
        width: 100%;
        flex-direction: column;
    }
    .navbar-links {
        text-align: center;
    }
    .navbar-links a {
        padding: .5rem 1rem;
    }
    .navbar-links.active {
        display: flex;
    }
    #align label {
        font-size: 12px;
    }
    div, li, h3, h2 {
        font-size: 12px;
    }
    #title-style {
        font-size: 15px;
    }
    #info, #your-courses, #enrollment-wrap {
        text-align: left;
    }
    #value {
        font-size: 9px;
        
    }
    .responsive {
        max-width: 100%;
        height: auto;
    }
    /* ul #background {
        text-align: center;
        font-size: 9px;
    } */
}
#align {
    font-size: 18px;
    display: inline-block;
    text-align: center;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
    width: 100%;
    height: 100%;
}
#align label {
    display: block;
}
input[type="password"] {
    width: 50%;
    padding: 10px 20px;
    margin: 8px 0;
}
#info {
    display: inline-block;
    color: white;
    font-size: 18px;
    font-weight: bold;
    width: 60%;
    text-align: left;
    border-width: 5px;
    border-color: white;
    border-style: double;
}
#student-course {
    display: inline-block;
    background-color: #e3f1ff;
    border-radius: 10px;
    color: black;
    font-weight: bold;
    font-size: 16px;
    margin: 10px;
    padding: 10px;
    width: 45%;
    list-style-type: none;
}
#your-course {
    display: inline-block;
    width: 80%;
    margin-bottom: 25px;
    border-radius: 10px;
}
.schedule-1 {
    list-style-type: none;
    width: 90%;
    display: inline-table;
    font-family: Copperplate;
    font-size: 18px; 
}


.schedule-1 :nth-child(1) {
    background-color: #9ae0fa;
    width: 60%;
    padding: 25px;
    border-radius: 10px;
    text-align: center;
    display: inline-table;
    margin-bottom: 10px;
}
.schedule-1 :nth-child(2) {
    background-color: #c099ff;
    width: 60%;
    padding: 25px;
    border-radius: 10px;
    text-align: center;
    display: inline-table;
    margin-bottom: 10px;
}
.schedule-1 :nth-child(3) {
    background-color: #8dfccd;
    width: 60%;
    padding: 25px;
    border-radius: 10px;
    text-align: center;
    display: inline-table;
    margin-bottom: 10px;
}
.schedule-1 :nth-child(4) {
    background-color: #f191f5;
    width: 60%;
    padding: 25px;
    border-radius: 10px;
    text-align: center;
    display: inline-table;
    margin-bottom: 10px;
}
.schedule-1 :nth-child(5) {
    background-color: #facf97;
    width: 60%;
    padding: 25px;
    border-radius: 10px;
    text-align: center;
    display: inline-table;
    margin-bottom: 10px;
}
#background-1 {
    background-color: #5680E9;
    color: white;
    display: inline-block;
    width: 60%;
    padding: 15px;
}

#search-course {
    display: inline-block;
    padding: 20px;
    width: 55%;
    border-radius: 10px;
    border-width: 2px;
    font-size: 18px;
    margin-bottom: 20px;
}

#enrollment-wrap {
    display: inline-block;
    width: 60%;
    padding: 15px;
    margin-bottom: 25px;
    border-radius: 10px;
}
#courselist {
    display: inline-block;
    background-color:	#e3f1ff;;
    padding: 15px;
    width: 70%;
    color: black;
    text-align: center;
    margin-bottom: 10px;
    border-radius: 10px;
}

#value{
    padding: 5px;
    font-size: 15px;
    font-weight: bold;
    margin: 15px;
    border-radius: 5px;
    display: inline-block;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
    width: 40%;
    border-color: #5680E9;
    border-width: 4px;
}

#search-course {
    display: inline-table;
}

#search-course li {
    display: inline-table;
}

#courses li {
    display: inline-table;
}

#courselist:focus {
  background: #5680E9
}

#home {
    margin: 20px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 15px;
    font-size: 20px;
    display: inline-table;
}

#home:hover{
  background:#fff;
  color:#5680E9;
  padding-right: 35px;
  padding-left: 35px;
  border-radius: 5px;
}

#bg-image h3 {
    font-size: 25px;
    font-weight: normal;
}




